[[headers]]
  for = "/*"
  [headers.values]
    Content-Security-Policy = """
      default-src 'self';
      script-src 'self' 'unsafe-inline' 'unsafe-eval' 'wasm-unsafe-eval' 'inline-speculation-rules' https://vk.com https://id.vk.com;
      connect-src 'self' https://vk.com https://id.vk.com https://*.vk.com;
      frame-src 'self' https://vk.com https://id.vk.com;
      img-src 'self' data: https://vk.com https://id.vk.com https://*.vk.com;
      style-src 'self' 'unsafe-inline';
      worker-src 'self' blob:;
      child-src 'self' blob:;
    """
    X-Frame-Options = "SAMEORIGIN"
    X-Content-Type-Options = "nosniff"
    Referrer-Policy = "strict-origin-when-cross-origin" 